<div class="resume">
  <div class="common-header common-header-border-b">
    <div class="common-header-nickname">
      HIJKLMN
    </div>
    <div class="common-header-word">
      android web platform, web/app, android native
    </div>
  </div>
  <div class="resume-content">
    <div class="resume-education-wrap">
      <div class="resume-title">
        EDUCATION
      </div>
      <div class="resume-box">
        <!--<div class="resume-date">
          <div class="resume-date-box"></div>
          <div class="resume-date-box"></div>
        </div>
        <div class="resume-info">

        </div>-->
        <table>
          <tr ng-mouseover="date1 = 'resume-nouseHover'" ng-mouseleave="date1 = ''">
            <td class="date">
              <div ng-class="date1">Mar 2009 <br>- Feb 2011</div>
            </td>
            <td class="info">
              내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
              내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
              내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
              내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
              내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
              내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
            </td>
          </tr>
          <tr ng-mouseover="date2 = 'resume-nouseHover'" ng-mouseleave="date2 = ''">
            <td class="date">
              <div ng-class="date2">Mar 2014 <br>- Feb 2015</div>
            </td>
            <td class="info">
              내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
              내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
              내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
              내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
              내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
              내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="resume-work-wrap">
      <div class="resume-title">
        WORK EXPERIENCE
      </div>
      <div class="resume-box">
        <div class="resume-date">
          <div class="resume-date-box"></div>
          <div class="resume-date-box"></div>
        </div>
        <div class="resume-info">

        </div>
      </div>
    </div>
  </div>
</div>
