@media (max-width:423px){
  .main .no-active-main-btn {
    width : 200px;
    height: 200px;
    font-size: 2em;
    top: 5%;
    transform: translateY(-5%);
  }
  .main .active-main-btn {
    width: 150px;
    height: 50px;
    font-size: 1em;
  }
}

@media (min-width:424px) and (max-width:831px){
  .main .no-active-main-btn {
    width : 200px;
    height: 200px;
    font-size: 2em;
    top: 30%;
    transform: translateY(-30%);
  }
  .main .active-main-btn {
    width: 100px;
    height: 50px;
    font-size: 1em;
  }
}

@media (min-width:832px){
  .main .no-active-main-btn {
    width : 200px;
    height: 200px;
    font-size: 2em;
    top: 40%;
    transform: translateY(-40%);
  }
  .main .active-main-btn {
    width: 200px;
    height: 100px;
    font-size: 2em;
  }
}

body {
  height: 100%;
  width: 100%;
}

.main-bg-img{
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  background-color: rgba( 0, 0, 0, 0.5 );
  text-align: center;
  width: 100%;
  height: 100%;
}

.main-view {
  height: 85%;
  overflow: hidden;
}

.main .main-view.ng-enter, .main .main-view.ng-leave {
  -webkit-transition:all 0.7s;
  transition:all 0.7s;
  position:absolute;
  display:block;
}

.main .main-view .pane, .view {
  height: 85%;
  top: 9%;
}

.main .scroll {
  height: 100%;
  width: 100%;
}

.main .main-btn {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  opacity: .7;
  cursor: pointer;
}

.main .no-active-main-btn {
  border-radius: 100px;
  line-height: 7em;
  transition: all 1s;
}

.main .active-main-btn {
  border-radius: 50px;
  line-height: 3.2em;
  top: 0;
  transform: translateY(0);
  transition: all 1s;
}

.main .main-my-self {
  color: #FFBF00;
  border: 3px solid #FFBF00;
}
.main .main-my-self:hover {
  color: #FF8000;
  border: 3px solid #FF8000;
}

.main .main-my-spec {
  color: #FF875F;
  border: 3px solid #FF875F;
}

.main .main-my-spec:hover {
  color: #FF5D27;
  border: 3px solid #FF5D27;
}

.main .main-my-project {
  color: #A9F5A9;
  border: 3px solid #A9F5A9;
}

.main .main-my-project:hover {
  color: #71D071;
  border: 3px solid #71D071;
}

.main .main-my-contact {
  color: #2E9AFE;
  border: 3px solid #2E9AFE;
}

.main .main-my-contact:hover {
  color: #227FD7;
  border: 3px solid #227FD7;
}

.main-footer {
  width: 100%;
  height: 20%;
  text-align: center;
  background-color: #3f3f3f;
}

.main-title {
  font-size: 1em;
  font-weight: bold;
  color: #fff;
}

.main-connect-box {
  width: 100%;
  height: 65%;
}

.main-connect {
  display: inline-block;
  width: 5.5em;
  height: 5.5em;
  border-radius: 8em;
  overflow: hidden;
  top: 10%;
  transform: translateY(40%);
  margin: 0 .5em;
}

.main-connect img {
  width: 3.5em;
  height: 3.5em;
  position: relative;
  top: 10%;
  transform: translateY(10%);
}

.main-connect div {
  font-size: 3em;
  line-height: 1.7em;
}

.main-connect.kakao {
  background-color: #F5E106;
}

.main-connect.mail {
  background-color: #ECECE9;
}

.main-connect.git {
  background-color: #F3E2A9;
}
