<ion-view view-title="메인" class="main-bg-img">
  <ion-content class="main">
    <!--<div class="main-my-self main-btn" ng-class="btnStyle" ng-click="goPage('introduction')">introduction</div>
    <div class="main-my-spec main-btn" ng-class="btnStyle" ng-click="goPage('spec')">spec</div>
    <div class="main-my-project main-btn" ng-class="btnStyle" ng-click="goPage('project')">project</div>
    <div class="main-my-contact main-btn" ng-class="btnStyle" ng-click="goPage('contact')">contact</div>
    <div ng-include="currentPage.url" class="main-view"></div>-->
    <div class="main-footer">
      <div class="main-connect-box">
        <div class="main-connect kakao">
          <img src="img/main/kakao.png" alt="kakao">
        </div>
        <div class="main-connect mail">
          <img src="img/main/gmail.png" alt="gmail">
        </div>
        <div class="main-connect git">
          <div class="ion-social-github"></div>
        </div>
      </div>
      <div class="main-title">
        <div>© 2016 Ver 1.0.0</div>
        <div>Park ji yeon All create.</div>
      </div>
    </div>
  </ion-content>
</ion-view>
