<ion-view view-title="소개" class="introduction-bg-img" ng-controller="specCtrl">
  <ion-content class="padding spec">
    <div class="spec-wrap">
      <div class="spec-content">
        <table>
          <thead>
            <tr>
              <td></td><td>숙련도</td><td>설명 요약</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="data in specList">
              <td>{{data.spec}}</td>
              <td><spec-proficiency value="data.proficiency" value-id="data.spec"></spec-proficiency></td>
              <td>
                <div ng-repeat="skillData in data.skill">{{skillData}}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </ion-content>
</ion-view>
