<ion-view view-title="소개" class="introduction-bg-img" ng-controller="specCtrl">
  <ion-content class="padding spec">
    <div class="spec-wrap">
      <div class="spec-box">
        <div class="spec-content" ng-repeat="data in specList">
          <div class="spec-title">{{data.spec}}</div>
          <div class="spec-svg-box"><spec-proficiency value="data.proficiency" value-id="data.spec"></spec-proficiency></div>
          <div class="spec-skill">
            <div ng-repeat="skillData in data.skill"> · {{skillData}}</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
