/* Empty. Add your own CSS if you like */
@media (max-width:360px){html{font-size:10px;}}
@media (min-width:361px) and (max-width:399px){html{font-size:11px;}}
@media (min-width:400px) and (max-width:439px){html{font-size:12px;}}
@media (min-width:440px) and (max-width:479px){html{font-size:13px;}}
@media (min-width:480px) and (max-width:519px){html{font-size:14px;}}
@media (min-width:520px) and (max-width:559px){html{font-size:15px;}}
@media (min-width:560px) and (max-width:599px){html{font-size:16px;}}
@media (min-width:600px) and (max-width:639px){html{font-size:17px;}}
@media (min-width:640px) and (max-width:679px){html{font-size:18px;}}
@media (min-width:680px) and (max-width:719px){html{font-size:19px;}}
@media (min-width:720px) and (max-width:759px){html{font-size:20px;}}
@media (min-width:760px) and (max-width:799px){html{font-size:21px;}}
@media (min-width:800px) and (max-width:839px){html{font-size:22px;}}
@media (min-width:840px) and (max-width:879px){html{font-size:23px;}}
@media (min-width:880px){html{font-size:24px;}}

html, body {
  height: 100%;
  width: 100%;
}

.common-header-border-w {
  border-left: .5em solid #fff;
}

.common-header-border-b {
  border-left: .5em solid #383535;
}

.common-header {
  width: 100%;
  text-align: left;
  padding: 0 0 0 1.5em;
  line-height: 3em;
}

.common-header-nickname {
  font-weight: bold;
  font-size: 4em;
  line-height: 1em;
}

.common-header-word {
  font-size: 2em;
  height: 30%;
}

/* main */

.main {
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: url("../img/main/kakao.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.main .scroll {
  height: 100%;
  width: 100%;
}

#main-slide {
  width: 100%;
  height: 55%;
  size: cover;

}

#main-slide ion-slide {
  background-color:  rgba( 250, 244, 255, .5 );
}

.main-menu-wrap {
  height: 7%;
  width: 100%;
  background-color: #669966;
  border-bottom: 5px solid #507350;
}

.main-menu {
  background-color: #669966;
  border-bottom: 5px solid #507350;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
}

.main-menu-none-fixed {
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.main-menu-fixed {
  height: 7%;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.main-menu table,
.main-menu-fixed table {
  width: 60%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.main-menu table .ion-arrow-down-b,
.main-menu-fixed table .ion-arrow-down-b {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  color: #f9e5a2;
  font-size: 1em;
  height: .8em;
  margin: 0 0 .5em 0;
  position: relative;
  top: 0;
}

.main-menu table td,
.main-menu-fixed table td {
  cursor: pointer;
}

.main-menu table td:hover,
.main-menu-fixed table td:hover {
  color: #71d071;
}

.main-menu-default {
  opacity: 0;
}

.main-menu-nav {
  opacity: 1;
}

.main-directive {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-belief {
  width: 100%;
  height: 5%;
  background-color: #f5fafa;
  overflow:hidden;
}

.main-introduction {
  width: 100%;
  height: 55%;
  background-color: #b5cc71;
}

.main-resume {
  width: 100%;
  height: 100%;
  background-color: #faf4ff;
}

.main-skill {
  width: 100%;
  height: 40%;
  background-color: #669966;
}

.main-portfolio {
  width: 100%;
  height: 70%;
  background-color: #faf4ff;
}

.main-contacts {
  width: 100%;
  height: 50%;
  background-color: #c6d597;
}

.main-footer {
  width: 100%;
  height: 20%;
  text-align: center;
  background-color: #669966;
}

.main-footer-title {
  font-size: 1em;
  font-weight: bold;
  color: #fff;
}

.main-contact-box {
  width: 100%;
  height: 65%;
  top: 10%;
  transform: translateY(30%);
}

.main-contact {
  display: inline-block;
  width: 5.5em;
  height: 5.5em;
  border-radius: 8em;
  overflow: hidden;
  margin: 0 .5em;
}

.main-contact img {
  width: 3.5em;
  height: 3.5em;
  position: relative;
  top: 10%;
  transform: translateY(10%);
}

.main-contact div {
  font-size: 3em;
  line-height: 1.7em;
}

.main-contact.kakao {
  background-color: #F5E106;
}

.main-contact.mail {
  background-color: #ECECE9;
}

.main-contact.git {
  background-color: #F3E2A9;
}

/* belief */
.belief {
  height: 100%;
  width: 100%;
  top: 30%;
  transform: translateY(15%);
}

.belief-status {
  color: #6d929b;
  font-weight: bold;
  animation-name: belief;
  animation-duration: 2s;
}

@keyframes belief {
  from {opacity: 0;}
    to {opacity: 1;}
}

/* introduction */
.introduction {
  width: 100%;
  height: 100%;
  padding: 5em 3em;
  color: #fff;
  animation-name: introduction;
  animation-duration: 2s;
}

@keyframes introduction {
  from {opacity: 0;}
  to {opacity: 1;}
}

.introduction-content {
  width: 100%;
  height: 80%;
  margin: 1.5em 0 0 0;
  font-size: 1.4em;
}

.introduction-content table {
  width: 100%;
  height: 100%;
}

.introduction-content table tr {
  width: 100%;
  height: 25%;
}

.introduction-content table td {
  width: 25%;
  vertical-align: middle;
  text-align: left;
}

.introduction-content table img {
  width: 20em;
  height: 100%;
  margin: 0 2em 0 0;
  border: .5em solid #9eb84e;
  border-radius: .5em;
  font-size: .8em;
  position: relative;
  animation-name: introductionImg;
  animation-duration: 2s;
}

@keyframes introductionImg {
  from {left: -25em;}
  to {left: 0em;}
}

.introduction-resume-btn {
  background-color: #fff;
  color: #9eb84e;
  font-weight: bold;
  text-align: center;
  width: 15em;
  height: 2.5em;
  line-height: 2.5em;
  cursor: pointer;
  transition: all .5s;
}

.introduction-resume-btn:hover {
  background-color: #9eb84e;
  color: #fff;
  font-weight: bold;
  width: 15em;
  text-align: center;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 1em;
  cursor: pointer;
}

.introduction-download-icon {
  position: relative;
  font-size: 2em;
  left: -2.8em;
}

.introduction-download-text {
  position: relative;
  top: -2.8em;
  left: 1em;
  display: inline-block;
  width: 100%;
}

/* resume */
.resume {
  width: 100%;
  height: 100%;
  padding: 5em 3em;
  color: #383535;
}

.resume-content {
  width: 100%;
  height: 85%;
  margin: 1.5em 0 0 0;
  font-size: 1.4em;
  border: 1px solid red;
  text-align: left;
}

.resume-education-wrap,
.resume-work-wrap {
  width: 100%;
  height: 50%;
}

.resume-title {
  width: 100%;
  height: 10%;
  font-size: 1.8em;
  font-weight: bold;
}

.resume-box {
  width: 100%;
  height: 80%;
}

.resume-date {
  width: 15%;
  height: 100%;
  display: inline-block;
  /*border:1px solid red;*/
}

.resume-info {
  width: 84%;
  height: 100%;
  display: inline-block;
  /*border:1px solid black;*/
  border-left: 2px solid #a712b7;
}

.resume-date-box {
  width: 100%;
  height: 30%;
  border: 1px solid green;
}








.resume-box table {
  width: 100%;
  height: 100%;
  line-height: 1.2em;
}

.resume-box table td {
  vertical-align: middle;
}

.resume-box div {
  transition: all .5s;
}

.resume-box .date {
  width: 15%;
  border:1px solid red;
  text-align: center;
  height: 50%;
  font-weight: bold;
  font-size: .7em;
  transition: all .5s;
}

.resume-box .info {
  width: 85%;
  border:1px solid green;
  height: 50%;
}

.resume-nouseHover {
  background-color: #ffb129;
  color: #fff;
  border-radius: 3em;
}









html, body {
      margin: 0;
      padding: 0;
      background: #ebebeb;
    }
    body, button {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    h1 {
      padding-top: 50px;
    }
    img {
      max-width: 100%;
    }
    nav {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      background: #fff;
      background: rgba(255, 255, 255, 0.8);
    }
    nav li, nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center
    }
    nav li, nav a {
      display: inline-block;
    }
    nav a {
      padding: 20px;
      color: #333;
      text-decoration: none;
    }
    a:hover {
      background: #fff;
    }
    a.active {
      background: #00AC7F;
      color: #fff;
    }
    .wrap {
      position: relative;
      max-width: 1000px;
      margin: 0 auto;
      padding: 50px 20px;
    }
    section {
      padding: 50px 0 30px 0;
    }
    footer {
      text-align: center;
    }
    button {
      font-size: 18px;
      border: 0;
      padding: 15px 30px;
      background: #00AC7F;
      color: #fff;
      cursor: pointer;
    }
